/* Creates sticky nav bar */
.navbar {
  height: 50px;
  width: 100%;
  margin-bottom: 0px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/*.nav li {
  padding-left: 5px;
  padding-right: 5px;
}*/
.navbar-fixed-bottom {
  position: relative;
}

#myName {
  font-size: 66px;
  margin-bottom: 0px;
  text-align: center;
  margin-top: 40vh;
  color: white;
  font-weight: bold;
  text-shadow: 0.5px 0.5px 1px black;
  font-family: 'Montserrat', sans-serif;
}

#myTitle {
  font-size: 36px;
  margin-top: 5px;
  text-align: center;
  margin-bottom: 50px;
  color: white;
  /*font-weight: bold;*/
  font-family: 'Montserrat', sans-serif;
  text-shadow: 0.5px 0.5px 1px black;
}

#name {
  position: relative;
  text-align: center;
  position: center;
}

#home {
 /* height: calc(100% - 50px);*/
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)),url(../images/hiking.jpg);
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}

#aboutSection {
  /*height: 100vh;*/
  background-color: lightgrey;
  padding-top: 50px;
  padding-bottom: 100px;
}

#projectsSection {
  /*height: 100vh;*/
  background-color: salmon;
  padding-top: 50px;
  padding-bottom: 70px;
}

#contactSection {
  /*height: 100vh;*/
  background-color: lightgrey;
  padding-top: 50px;
  padding-bottom: 100px;
}

#skillsSection {
  text-align: center;
}

.content {
  padding-left: 20%;
  padding-right: 20%;
}

i {
  font-size: 90px;
  margin: .25em;
}

.sectionHeader {
  font-size: 36px;
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

#infoHeader {
  font-size: 30px;
  text-align: center;
  margin-bottom: 80px;
  font-family: 'Montserrat', sans-serif;
}

#myInfo {
  /*line-height: 30px;*/
  font-size: 20px;
  /* letter-spacing: 0.4px;*/
  margin-bottom: 100px;
  /*text-align: center;*/
}

#iconRow1 {
  margin-bottom: 20px;
}

/*#iconRow2 {
  margin-bottom: 100px;
}*/


.img-caption {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  color: white;
  display: none;
  padding: 10px;
}

.img-thumb {
  position: relative;
  background-color: black;
}

.project {
  padding: 10px;
  margin: auto;
  height: 100%;
  text-align: center;
}

.link {
  height: 100%;
  text-align: center;
}

.projectPreview {
  display: inline-block;
  position: relative;
  z-index: 3;
  height: 280px;
}

.screenshot {
  display: block;
  height: 100%;
}

.projectTitle {
  margin-bottom: 50px;
}

.projectSummary {
  font-size: 18px;
}

.projectRow {
  margin-bottom: 30px;
  padding-left: 5%;
  padding-right: 5%;
}

.links a {
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid white;
  padding: 5px;
}

.links a:hover {
  color: lightgrey;
  border-color: lightgrey;
  text-decoration: none;
}

.linkArea {
  height: 50px;
}

.links {
  margin-top: 50px;
}

#myContact {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 20px;
  text-align: center;
}

#contactIcons {
  text-align: center;
}

#contactIcons a {
  color: black;
}

#contactIcons a:hover {
  color: black;
  text-decoration: none;
}

.fa-border {
  border: solid 0.05em black;
}